*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left, #89d8d3 0%, #03c8a8 74%);
}
header{
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    justify-content: center;

}

#logo_and_search{
    width: 100vw;
    margin-bottom: 10px;
    box-shadow: 0 1px 10px;
    display: flex;
    

}

#permanent_component{
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    justify-content: center;
    
}

#collapsed_content{
    width: 100vw;
    height: 50px;
    display: none;
}

#logo{
    height: 80px;
    width: 200px;
    background-color: white;
    margin-left: 10px;
}

#logo_container{
    display: flex;
    gap: 10px;
    align-items: center;
}

#social_media{
    height: 80px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.social_media, .media_icon{
    height: 20px;
    width: 20px;}


#main_container{
    display: flex;
    justify-content: center;
    
}
#container{
    width: 90%;
    height: 450px;
    background-color: white;
    display: flex;
}

#side_navigator{
    min-width: 25%;
    height: 100%;
    background: linear-gradient(108.5deg, rgba(231, 69, 54, 0.82) 11.2%, rgba(255, 181, 17, 0.82) 68%);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav_item{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img_container{
    height: 120px;
    

}

#img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: #03c8a8;
    border-radius: 50%;
    overflow: hidden;
}
#profile_image{
    height: 100%;
    width: 100%;
}
.personal_detail, .myOrder{
    width: 80%;
}

.personal_detail:hover, .myOrder:hover{
    background-color: #90d5ec;
    transform: scale(1.1,1.1);
    transition: 0.5s;
   
 

}



#person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Logout{

    height: 50px;
}

#content{
    width: 75% ;
    display: flex;
    overflow: hidden;


    
    
}

#Personal_info{
    width: 100%;
    background-color: rgb(239, 238, 238);
    flex-shrink: 0;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    
}


#my_Order{
    width: 100%;
    background-color: rgb(239, 238, 238);
    flex-shrink: 0;
    transition: transform 0.2s;
    overflow-y: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    gap: 20px;
}

#name_field{
    display: flex;
    gap: 50px;
}

#username, #fullname{
    width: 300px;
    height: 30px;
}

input, label{
    display: block;
}
label{
    font-family: monospace;
    font-size: 20px;
}

.other_than_name{
    width: 80%;
    height: 30px;
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}


th{
    width: 30%;
    background: linear-gradient(108.5deg, rgba(231, 69, 54, 0.82) 11.2%, rgba(255, 181, 17, 0.82) 68%);
}

tr{
    height: 50px;
}

th, td{
    font-family: monospace;
    font-size: 20px;
    height: 30px;
}

td{
    font-size: 16px;
    text-align: center;
}

.total{
    width: 150px;
}
#controller{
    min-width: 300px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    background: linear-gradient(108.5deg, rgb(231, 69, 54) 11.2%, rgb(255, 180, 17) 68%);
    border-radius: 15px;
    left: calc((100vw - 300px)/2);
    display: flex;
    justify-content: space-around;
    z-index: 2;
    
}

.controller_icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 40px;
    height: 40px;
}

#search_icon{
    width: 30px;
    height: 30px;
}
#menu_icon_box, #filter_icon_box, #search_icon_box{
    display: none;
}

#cart{
    position: relative;
}

#number_in_cart{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: radial-gradient(#89d8d3 0%, #03c8a8 74%) ;
}

@media screen and (max-width: 960px) { 
    #name_field{
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    #username, #fullname{
        width: 80%;
        height: 30px;
    }
     
 }

@media screen and (max-width: 900px) { 
   #my_Order{
    padding-inline: 10px;
   }
    
}



@media screen and (max-width: 550px) { 

    #container{
        flex-direction: column;
        height: 630px;
    }

    #side_navigator{
        width: 100%;
        height: 12%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #content{
        width: 100%;
        height: 90%;

    }

    .personal_detail, .myOrder{
        height: 90%;
        width: 93px;
        
    }

    #img{
        width: 70px;
        height: 70px;
    }

   







  

    
     
 }


 


