*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(239, 238, 238);
    position: relative;
    
}

header{
    margin-bottom: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    
}

#logo_and_search{
    width: 100vw;
    margin-bottom: 50px;
    box-shadow: 0 1px 10px;
    display: flex;
    

}

#permanent_component{
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    justify-content: center;
    
}

#collapsed_content{
    width: 100vw;
    height: 50px;
    display: none;
}



#logo{
    height: 80px;
    width: 200px;
    background-color: white;
    margin-left: 10px;
}

#logo_container{
    display: flex;
    gap: 10px;
    align-items: center;
}

#logo img{
    width: 200px;
    height: 100px;
}
#social_media{
    height: 80px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.social_media, .media_icon{
    height: 20px;
    width: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

#Shipper_Order_assignment{
    width: max(50%,350px);
    height: 300px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;

}

#Form_title{
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

h1{
    font-size: 2rem;
}



.field_name{
    display: inline-block;
    width: 100px;
    font-size: 18px;
}
input, select{
    width: max(147px, 40%);
    height: 30px;
}

#assignment_button{
    width: 100px;
    height: 30px;
}

.field_container, #form_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_container{
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    gap: 40px;
    height: 100%;
}
#assignment_button{
    background: linear-gradient(108.5deg, rgba(231, 69, 54, 0.82) 11.2%, rgba(255, 181, 17, 0.82) 68%);
    border: none;
    border-radius: 15px;
}

#assignment_button:hover{
    background: linear-gradient(108.5deg, rgba(231, 69, 54, 0.82) 11.2%, rgba(255, 181, 17, 0.82) 68%);
}

#grid{
    width: 100%;
}
table{
    width: 100%;
}

th{
    background: linear-gradient(108.5deg, rgba(231, 69, 54, 0.82) 11.2%, rgba(255, 181, 17, 0.82) 68%);
    height: 50px;
}

td{
    background-color: white;
    height: 30px;
    text-align: center;

}

.break-word{
    width: 100%;
    word-break: break-all;
}

.result_id:hover{
    background: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}
#controller{
    width: 200px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    background: linear-gradient(108.5deg, rgb(231, 69, 54) 11.2%, rgb(255, 180, 17) 68%);
    border-radius: 15px;
    left: calc((100vw - 200px)/2);
    display: flex;
    justify-content: space-around;
    z-index: 2;
    
}

.controller_icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 500px) {
    td{
        height: 100px;
    }
    
}