*{
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: rgb(239, 238, 238);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    }

    header{
        margin-bottom: 20px;
        background-color: white;
        display: flex;
        justify-content: center;
    }
    
    #logo_and_search{
        width: 100vw;
        margin-bottom: 10px;
        box-shadow: 0 1px 10px;
        display: flex;
        
    
    }
    #logo img{
        width: 200px;
        height: 100px;
    }
    
    #permanent_component{
        display: flex;
        width: 100%;
        height: 100px;
        border-bottom: 1px solid black;
        justify-content: center;
        
    }
    
    #collapsed_content{
        width: 100vw;
        height: 50px;
        display: none;
    }

    #product_id_cotainer, #vid{
        
        display: none;
    }
    
    
    
    #logo{
        height: 80px;
        width: 200px;
        background-color: white;
        margin-left: 10px;
    }
    
    #logo_container{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    
    #social_media{
        height: 80px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
    
    .social_media, .media_icon{
        height: 20px;
        width: 20px;
    }
    h1{
        background: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 15px;
        padding-inline: 30px;
    }


    form{
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 30px;
        width: 500px;
        border-radius: 15px;
    }

    #input_container{
        padding-inline: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input, textarea{
        background-color: rgb(239, 238, 238) ;
        border: 1px solid black;
    }

    #submit_button{
        display: flex;
        justify-content: center;
    }

    #submit_button input{
        width: 100px;
        height: 30px;
        border-radius: 15px;
        background: linear-gradient(108.5deg, rgba(231, 69, 54, 0.82) 11.2%, rgba(255, 181, 17, 0.82) 68%);
    }
    
    h1 {
   background-color: #2c3e50;
   color: #ffffff;
   font-size: 2em;
   margin: 0;
   padding: 1em;
   text-align: center;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
    }

    #image_upload{
        display: block;
    }



    
    table {
    border-collapse: collapse;
    margin-top: 2em;
    width: 90%;
    max-width: 1200px;
    }
    
    th{
        background: linear-gradient(108.5deg, rgba(231, 69, 54, 0.82) 11.2%, rgba(255, 181, 17, 0.82) 68%);
    }

    th, td {
    padding: 0.5em;
    text-align: center;
    border: 1px solid #dddddd;
    }
    
    th {
    background-color: #f5f5f5;
    font-weight: bold;
    }

    .Inventory{
        width: 50px;
    }

    #Product_id{
        border: none;
    }

    label{
        width: 120px;
        display: inline-block;
    }

    input{
        width: 200px;
    }

    #error{
        display: none;
    }
    
    tr:nth-child(even) {
    background-color: #fafafa;
    }
    
    tr:hover {
    background-color: #f5f5f5;
    }
    
    td img {
    display: block;
    margin: auto;
    max-width: 100%;
    }

    .display_none{
        display: none;
    }

    #controller{
    width: 200px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    background: linear-gradient(108.5deg, rgb(231, 69, 54) 11.2%, rgb(255, 180, 17) 68%);
    border-radius: 15px;
    left: calc((100vw - 200px)/2);
    display: flex;
    justify-content: space-around;
    z-index: 2;
    
}

.controller_icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 40px;
    height: 40px;
}
    
   
    @media screen and (max-width: 600px) {
        #pid{
            display: none;
        }

        #id_heading{
            display: none;
        }

        main{
            align-items: center;
        }

        form{
            width: 400px;
        }
    }

    @media screen and (max-width: 500px){
        form{
            width: 360px;
        }
    }

    